streamlit==1.31.0
numpy==1.24.3
pandas==2.0.2
librosa==0.10.1
plotly==5.18.0
scipy==1.10.1
scikit-learn==1.2.2
torch==2.1.0
torchaudio==2.1.0
transformers==4.36.2
sounddevice==0.4.6
python-dotenv==1.0.0
joblib==1.2.0
cryptography==41.0.3
fpdf==1.7.2
matplotlib
#gsk_AiakgONbbQ6LMn8FM1J1W#Gdyb3FYf0QzPnQCkzZtTDqZgnkSjnY4